mj-section
    mj-column
        mj-text 
            h2 Fidéliser vos clients ou en acquérir de nouveaux,
            h2 réactiver les abandonnistes, nos solutions marketing
            h2 vous permettent de toucher vos cibles directement à leur domicile.
        mj-button Je découvre
mj-section
    mj-column
        mj-image(src="https://i.ibb.co/2cN8Vb5/a.png")
        mj-text Cibler les consommateurs
    mj-column
        mj-image(src="https://i.ibb.co/Wtvccnk/b.png")
        mj-text Capter l'attention
    mj-column
        mj-image(src="https://i.ibb.co/SRFfZkT/c.png")
        mj-text Emmener dans un parcours d'achat engageant