mj-section(background-color="#018ec4")
    mj-column
        mj-text(align="center" color="#ffffff")
            h3(style="margin:0;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:20px;font-weight:700;line-height:25px;") Fidéliser vos clients ou en acquérir de nouveaux, réactiver les abandonnistes, nos solutions marketing vous permettent de toucher vos cibles directement à leur domicile.
        mj-button(background-color="#ffc700" inner-padding="10px 25px" border="none" border-radius="3px" font-family="Ubuntu, Helvetica, Arial, sans-serif" font-size="20px" font-weight="700" line-height="120%" color="#000000" href="#" target="_blank") Je découvre
mj-section(background-color="#018ec4")
    mj-column
        mj-image(align="center" width="150px" src="https://i.ibb.co/2cN8Vb5/a.png" alt="")
        mj-text(align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" font-size="13px" font-weight="700" line-height="18px" color="#ffffff") Cibler les consommateurs
    mj-column
        mj-image(align="center" width="150px" src="https://i.ibb.co/Wtvccnk/b.png" alt="")
        mj-text(align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" font-size="13px" font-weight="700" line-height="18px" color="#ffffff") Capter l'attention
    mj-column
        mj-image(align="center" width="150px" src="https://i.ibb.co/SRFfZkT/c.png" alt="")
        mj-text(align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" font-size="13px" font-weight="700" line-height="18px" color="#ffffff") Emmener dans un parcours d'achat engageant