mj-section(padding="10px 0")
    mj-column
        mj-text(align="center" color="#000000")
            p(style="margin:0;font-family:Times New Roman, serif;font-size:12px;font-weight:400;line-height:100%") Si vous souhaitez vous désabonner afin de ne plus recevoir d'offres personnalisées de la part de Club EMB et de ses partenaires, #[a(style="color:#0000ff" href="#" target="_blank") cliquez-ici]. Pour cesser de recevoir nos informations sur l'adresse #[span(style="color:#000000;text-decoration:none") contact@ecosup-campus.fr], #[a(style="color:#0000ff" href="#" target="_blank") désabonnez-vous]