mj-section(background-color="#018ec4" )
        //-mj-group
        mj-column(width="90px" vertical-align="middle")
        mj-column(width="300px" vertical-align="middle")
            mj-text(padding="0" align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" font-size="30px" font-weight="700" line-height="100%" color="#ffc700") #[span(style="text-transform:uppercase;") inh] - Inside Home
        mj-column(width="90px" vertical-align="middle")
        mj-column(width="120px" vertical-align="middle")
                mj-image(align="center" width="60px" src="https://i.ibb.co/tKsjGg4/logo-2.png")