mj-wrapper(background-color="#ffffff")
    mj-section(padding="0")
        mj-column(padding="10px 25px")
            mj-text( padding="0" align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" color="#013da5") 
                h1(style="margin:0;padding:0;font-size:26px;font-weight:700;line-height:35px") Le saviez-vous?
                h1(style="margin:0;padding:0;font-size:26px;font-weight:700;line-height:35px") 86% des décisions d'achats se
                h1(style="margin:0;padding:0;font-size:26px;font-weight:700;line-height:35px") prennent au coeur des foyers
    mj-section(padding="30px 0")
        mj-column(width="100%")
            mj-image(padding="0" width="600px" src="https://i.ibb.co/vPfzhx0/1-1.png" alt="famille dans le séjour entrain de faire une activité de lecture")
    mj-section(padding="0")
        mj-column(padding="10px 25px")
            mj-text(padding="0" align="center" font-family="Ubuntu, Helvetica, Arial, sans-serif" color="#013da5")
                h2(style="margin:0;padding:0;font-size:23px;font-weight:700;line-height:35px") Découvrez inh-Inside Home
                h2(style="margin:0;padding:0;font-size:23px;font-weight:700;line-height:35px") l'offre omnicanale courrier, digital, géomarketing
                h2(style="margin:0;padding:0;font-size:23px;font-weight:700;line-height:35px") et data de La Poste Solutions Busines