mj-section
    mj-column
        mj-text 
            h1 Le saviez-vous?
            h1 86% des décisions d'achats se
            h1 prennent au coeur des foyers
    mj-column
        mj-image(src="https://i.ibb.co/vPfzhx0/1-1.png")
    mj-column
        mj-text
            h2 Découvrez inh-Inside Home
            h2 l'offre omnicanale courrier, digital, géomarketing
            h2 et data de La Poste Solutions Business