mjml
    //- Head
    mj-head
        mj-title Poste Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-image(border='none')/
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color="#eeeeee")       
        //- content
        block content
        //- Header
        block header
            include ../includes/_header
        //- Hero
        block hero
            include ../includes/_hero
        //- Argumentaires
        block argumentaires
            include ../includes/_argumentaires
        //- Footer
        block footer
            include ../includes/_footer