extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(padding="10px 0")
        mj-column
            mj-text(align="center" color="#000000")
                p(style="margin:0;font-family:Times New Roman, serif;font-size:12px;font-weight:400;line-height:100%") Si cet e-mail ne s'affiche pas correctement, #[a(style="color:#0000ff" href="#" target="_blank") cliquez ici pour la version en ligne].
    
    
