extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(background-color='#ffffff')
        mj-column
            mj-text Si cet e-mail ne s'affiche pas correctement, cliquez ici pour la version en ligne.
    
    
